/node_modules
/.env
*.env
/usersettings.sqlite
/.sqlite
*.sqlite
/.vscode
/data/usersettings.sqlite-shm
/.sqlite-shm
*.sqlite-shm
/data/usersettings.sqlite-wal
/.sqlite-wal
*.sqlite-wal
/*migration.bak*
*.migration.bak*