<div id="redirect_panel" style="display: none;">
    <div class="redirect_bar" id="chatRoomButton">
        <div>
            <img src="../static/icons/buttons_main/chat.png" width="40" height="40" class="imgbtn">
            <h3>Trade Room</h3>
        </div>
    </div>
    <div class="redirect_bar" id="marketplaceButton" style="display: none;">
        <div>
            <img src="../static/icons/buttons_main/shop.png" width="40" height="40" class="imgbtn">
            <h3>Marketplace</h3>
        </div>
    </div>
    <div class="redirect_bar" id="patchNotesButton">
        <div>
            <img src="../static/icons/buttons_main/patches.png" width="40" height="40" class="imgbtn">
            <h3>Patch Notes</h3>
        </div>
    </div>
    <div class="redirect_bar" id="achievementsButton">
        <div>
            <img src="../static/icons/buttons_main/trophy.png" width="40" height="40" class="imgbtn">
            <h3>Achievements</h3>
        </div>
    </div>
    <div class="redirect_bar" id="leaderboardButton">
        <div>
            <img src="../static/icons/buttons_main/board.png" width="40" height="40" class="imgbtn">
            <h3>Leaderboard</h3>
        </div>
    </div>
    <div class = "redirect_bar" id="userCont">
        <div>
            <img id="userPic" width="40" height="40" src="static/icons/pfp/defaultpfp.png" class="imgbtn">
            <h3><%= userdata.displayName %>'s Profile</h3>
        </div>
    </div>
    <div class="redirect_bar" id="helpButton">
        <div>
            <img id="help" class="imgbtn" src="../static/icons/buttons_main/help.png" width="40" height="40">
            <h3>Report Issue</h3>
        </div>
    </div>
    <div class="redirect_bar" id="playerBtn">
        <div>
            <img id="player" class="imgbtn" src="../static/icons/buttons_main/playerbase.png" width="40" height="40">
            <h3>Playerbase</h3>
        </div>
    </div>
</div>