<div id="gamemode_overlay" style="display: none;">
    <div class="flex_game_panel">
        <div class="game_panel" id="binder">
            <h2>Collection</h2>
            <img src="../static/icons/buttons_main/binder.png" width="230" height="230">
            <p>View your collection of powerful pogs</p>
        </div>
        <div class="game_panel" id="teamSelectButton" style="display: none;">
            <h2>Team</h2>
            <img src="../static/icons/buttons_main/team.png" width="230" height="230">
            <p>Set your pogs to face against other players</p>
        </div>
        <div class="game_panel" id="practice" style="display: none;">
            <h2>Practice</h2>
            <img src="../static/icons/gamemode/target.png" width="230" height="230">
            <p>Play against targets to test combos and skills</p>
        </div>
        <div class="game_panel" id="pvp" style="display: none;">
            <h2>Arena</h2>
            <img src="../static/icons/gamemode/sword.png" width="230" height="230">
            <p>Compete against other similar-ranked players</p>
        </div>
        <div class="game_panel" id="pve" style="display: none;">
            <h2>Campaign</h2>
            <img src="../static/icons/gamemode/dice.png" width="230" height="230">
            <p>Fight for the crown in the story mode</p>
        </div>
        <div class="game_panel" id="custom" style="display: none;">
            <h2>Custom</h2>
            <img src="../static/icons/gamemode/gear.png" width="230" height="230">
            <p>Set your own rules as you rival friends</p>
        </div>
    </div>
</div>