<div id="leftmost">
            <div id="settings">
                <div id="stats">
                    <div id="money"></div>
                    <div id="income" class="income-widget" title="Click to toggle income details">
                        <div class="iw-icon">💰</div>
                        <div class="iw-body">
                            <span class="iw-label">INCOME</span>
                            <div class="iw-values">
                                <span class="iw-final">$0/s</span>
                                <span class="iw-detail">$0/s <span class="iw-mult">×1.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div id="xpcont">
                        <div id="xpinf">
                            <h4 id="XPTxt"></h4>
                            <div id="mxtxt"></div>
                        </div>
                        <progress id="XPPB" value="0" max="100"></progress>
                    </div>
                </div>
                <div id="sortcont">
                    <div id="searchbar">
                        <input id="searchbox" type="text" placeholder="Search Pogs...">
                        <img id="searchbtn" src="../static/icons/buttons_main/search.png" width="20" height="20"
                            title="Search Pogs">
                    </div>
                    <select id="selectSort">
                        <hr />
                        <option value="nameAZ">Sort by Name (a-z) &#8593;</option>
                        <option value="nameZA">Sort by Name (z-a) &#8595;</option>
                        <hr />
                        <option value="rarityHf">Sort by Rarity (trash to unique) &#8593;</option>
                        <option value="rarityLf">Sort by Rarity (unique to trash) &#8595;</option>
                        <hr />
                        <option value="svHf">Sort by Sell Value (high to low) &#8593;</option>
                        <option value="svLf">Sort by Sell Value (low to high) &#8595;</option>
                        <hr />
                    </select>
                </div>
            </div>
            <!--Description-->
            <div id="descPanel">
                <span></span>
            </div>
            <div id="cratesCont">
                <div id="crateBtns">
                    <div class="buttonSources">
                        <div class="tooltip-chances">
                            <button id="info1" class="infobtn">i</button>
                            <span id="spani1" class="tooltip-text">
                                Trash: 59%<br>
                                Common: 20%<br>
                                Uncommon: 20%<br>
                                Mythic: 0.7%<br>
                                Unique: 0.3%
                            </span>
                        </div>
                        <button id="crate1" class="crate">Trash Crate</button>
                    </div>
                    <div class="buttonSources">
                        <div class="tooltip-chances">
                            <button id="info2" class="infobtn">i</button>
                            <span id="spani2" class="tooltip-text">
                                Trash: 13%<br>
                                Common: 60%<br>
                                Uncommon: 16%<br>
                                Mythic: 10%<br>
                                Unique: 1%
                            </span>
                        </div>
                        <button id="crate2" class="crate">Common Crate</button>
                    </div>
                    <div class="buttonSources">
                        <div class="tooltip-chances">
                            <button id="info3" class="infobtn">i</button>
                            <span id="spani3" class="tooltip-text">
                                Trash: 11%<br>
                                Common: 40%<br>
                                Uncommon: 27%<br>
                                Mythic: 20%<br>
                                Unique: 2%
                            </span>
                        </div>
                        <button id="crate3" class="crate">Uncommon Crate</button>
                    </div>
                    <div class="buttonSources">
                        <div class="tooltip-chances">
                            <button id="info4" class="infobtn">i</button>
                            <span id="spani4" class="tooltip-text">
                                Trash: 10%<br>
                                Common: 18%<br>
                                Uncommon: 17%<br>
                                Mythic: 50%<br>
                                Unique: 5%
                            </span>
                        </div>
                        <button id="crate4" class="crate">Mythic Crate</button>
                    </div>
                </div>
            </div>
        </div>