#errorMessage {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 0, 0);
    font: 1000 20px 'Gill Sans MT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}