<!-- 
idk how to canvas pls help
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <canvas id="battleCanvas"></canvas>

    <div id="pogList" style="display:none"><%- JSON.stringify(pogList || []) %></div>
    <div id="userdata" style="display:none"><%- JSON.stringify(userdata || {}) %></div>

<script src="/static/js/battle.js"></script>
</body>
</html>


