body, h1, h2, h3, h4, h5 {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    user-select: none;
    background:
        radial-gradient(circle at 30% 40%, rgba(80, 53, 168, 0.15), transparent 60%),
        radial-gradient(circle at 70% 60%, rgba(165, 52, 129, 0.12), transparent 55%),
        radial-gradient(circle at center, #080b0f 0%, #090a0f 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ===== Root + Reset ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    color: whitesmoke;
}

h4 {
    margin-top: 15px;
}

li {
    list-style: none;
}

#leadBanner {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding: 0 20px;

    background: linear-gradient(90deg, #6b3df0, #9d42f7);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.leftstuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 20px;
}

/* Back button */
#circleButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.25);
    color: white;
    text-decoration: none;
    font-size: 22px;

    transition: transform 0.15s ease, background 0.15s ease;
}

#circleButton:hover {
    background: rgba(0, 0, 0, 0.4);
    transform: scale(1.08);
}

/* Table Container */
.board {
    padding: 20px;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.board div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 4px;
    background: linear-gradient(135deg, #2b2f4a, #1a1d2e);
    border: 1px solid rgba(255, 255, 255, 0.094);
    box-shadow: 0 0 5px black;
    margin: 10px;
    color: white;
    transition: all 0.1s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.board div:hover {
    scale: 1.1;
}

.board div:active {
    scale: 0.95;
}

.codeTxt {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: left;
    opacity: 0.2;
    font-size: 10px;
    padding: 2px;
}

#horizontalLine {
    width: 100px;
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 20px 0 0 0;
}

#numCont {
    margin-left: 30px;
}

#rarityBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(45deg);
    transform-origin: bottom right;
    margin-top: 130px;
    pointer-events: none;
    opacity: 0.6;
}

#flexcont {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 20px;
}