<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/title/Pogglebar_Favicon.png" />
    <title>Achievements</title>
    <link rel="stylesheet" href="../static/css/achievements.css">
</head>
<body>
    <div id="achievementsBanner">
        <div class="leftstuff">
            <div style="display: none" id="userdata"><%= JSON.stringify(userdata) %></div>
            <h1 style="margin-left: 10px;">Achievements</h1>
            <div style="display: none" id="maxPogs"><%= JSON.stringify(maxPogs) %></div>
        </div>
        <div class="rightstuff"></div>
            <a href="/collection" id="circleButton"> < </a>
        </div>
    </div>
    <div id="buttonBar">
        <button id="collection" onclick="renderCollection()">Collection</button>
        <button id="level" onclick="renderLevel()">Level</button>
        <button id="progression" onclick="renderProgression()">Progression</button>
        <button id="economy" onclick="renderEconomy()">Economy</button>
        <button id="unique" onclick="renderUnique()">Unique</button><br>
    </div>
    <div id="achievementsList">
        (i) Click on a panel to show specific achievements
    </div>
    <script src="../static/js/collectionJS/stuffWork.js"></script>
    <script src="../static/js/achievements.js"></script>
</body>
</html>