<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/title/Pogglebar_Favicon.png" />
    <title>Pogglebar</title>
    <link rel="stylesheet" href="../static/css/collectionCSS/style.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/redirects.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/xp.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/pfp.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/crate.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/inventory.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/wish.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/shop.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/settings.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/tooltip.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/banner.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/binder.css">
</head>

<body>
    <!--Wish Container-->
    <div id="customConfirm" style="display:none;">
        <div class="confirm-content">
            <p id="confirmMessage"></p>
            <button class="confirmbtn" id="customConfirmYes">Yes</button>
            <button class="confirmbtn" id="customConfirmNo">No</button>
        </div>
    </div>
    <!--Shop-->
    <div id="shopBanner" style="display:none;">
        <div class="shopCont">
            <h1 style="font-size: 60px; margin-top: -10px;">POGGLESHOP</h1>
            <p style="margin-top: -50px">All purchases are used with digipogs</p>
            <div id="shopItems"></div>
            <button id="closeShop">Close</button>
        </div>
    </div>
    <div id="transConf" style="display: none;">
        <h5>Purchase Item?</h5>
        <label>PIN</label>
        <input id="pinField" type="password" />
        <button id="purchaseBtn" class="pageButtons">Purchase</button>
        <br>
        <button id="cancelBtn" class="pageButtons">Cancel</button>
    </div>
    <!--Binder-->
    <div id="binderBanner" style="display:none;">
        <div class="binderCont">
            <h1 style="font-size: 60px; margin-top: -10px;">Collection</h1>
            <h3 id="pogCount" style="margin-top: -45px;">Pogs: 0 / 0</h3>
            <div id="binderItems"></div>
            <button id="closeBinder">Close</button>
        </div>
    </div>
    <!--Profile Pic Container-->
    <div id="pfpChanger">
        <h3>Choose your Profile Picture</h3>
        <img id="bigpfp" width="100" height="100" src="static/icons/pfp/defaultpfp.png" />
        <p id="fileSizeMessage"></p>
        <input id="filepfp" type="file" accept="image/*" />
        <button id="closePfpChanger">Close</button>
    </div>
    <div id="collectBanner">
        <div class="leftstuff">
            <div id="titlecont">
                <h1 style="margin-left: 10px;">POGGLEBAR</h1>
            </div>
            <div id="userCont">
                <img id="userPic" width="20" height="20" src="static/icons/pfp/defaultpfp.png" />
                <h4 style="color: white">
                    <%= userdata.displayName %>
            </div>
            </h4>
            <div style="display: none" id="userdata">
                <%- JSON.stringify(userdata) %>
            </div>
            <div style="display: none" id="maxPogs">
                <%- JSON.stringify(maxPogs) %>
            </div>
            <div style="display: none" id="pogList">
                <%- JSON.stringify(pogList) %>
            </div>
        </div>
        <div style="right: 0; top: 0;" class="rightstuff">
            <button id="useWish">Wish (0/7)</button>
            <img src="../static/icons/buttons_main/chat.png" title="Chatroom" width="40" height="40" id="chatRoomButton"
                class="imgbtn">
            <img src="../static/icons/buttons_main/patches.png" title="Patch Notes" width="40" height="40"
                id="patchNotesButton" class="imgbtn">
            <img src="../static/icons/buttons_main/trophy.png" title="Achievements" width="40" height="40"
                id="achievementsButton" class="imgbtn">
            <img src="../static/icons/buttons_main/board.png" title="Leaderboard" width="40" height="40"
                id="leaderboardButton" class="imgbtn">
            <div class="verticalL"></div>
            <img id="darkmode" class="imgbtn" src="../static/icons/buttons_main/sun.png" width="40" height="40"
                title="Color Mode">
            <img id="help" class="imgbtn" src="../static/icons/buttons_main/help.png" width="40" height="40"
                title="Report an Issue">
        </div>
    </div>
    <div id="centerlayout" style="text-align: center;">
        <!--Description-->
        <div id="descPanel">
            <span></span>
        </div>
        <div id="invcont">
            <div id="space">0/10</div>
            <div id="inventory"></div>
        </div>
        <div id="settings">
            <div id="sortcont">
                <div id="searchbar">
                    <input id="searchbox" type="text" placeholder="Search Pogs...">
                    <img id="searchbtn" src="../static/icons/buttons_main/search.png" width="20" height="20"
                        title="Search Pogs">
                </div>
                <select id="selectSort">
                    <hr />
                    <option value="nameAZ">Sort by Name (a-z) &#8593;</option>
                    <option value="nameZA">Sort by Name (z-a) &#8595;</option>
                    <hr />
                    <option value="rarityHf">Sort by Rarity (trash to unique) &#8593;</option>
                    <option value="rarityLf">Sort by Rarity (unique to trash) &#8595;</option>
                    <hr />
                    <option value="svHf">Sort by Sell Value (high to low) &#8593;</option>
                    <option value="svLf">Sort by Sell Value (low to high) &#8595;</option>
                    <hr />
                </select>
                <button id="sellAll">Sell All</button>
            </div>
            <div id="colorKey" style="display: none;">
                <div class="key-item">
                    <span class="color-box trash"></span>
                    <span class="color-label">Trash</span>
                </div>
                <div class="key-item">
                    <span class="color-box common"></span>
                    <span class="color-label">Common</span>
                </div>
                <div class="key-item">
                    <span class="color-box uncommon"></span>
                    <span class="color-label">Uncommon</span>
                </div>
                <div class="key-item">
                    <span class="color-box rare"></span>
                    <span class="color-label">Rare</span>
                </div>
                <div class="key-item">
                    <span class="color-box mythic"></span>
                    <span class="color-label">Mythic</span>
                </div>
                <div class="key-item">
                    <span class="color-box unique"></span>
                    <span class="color-label">Unique</span>
                </div>
                <div class="key-item">
                    <span class="color-box otherworldly"></span>
                    <span class="color-label">Otherworldly</span>
                </div>
            </div>
            <div id="stats">
                <div id="money">Money: $1000</div>
                <h3 id="income"></h3>
                <div id="XPinfo">
                    <h4 id="XPTxt"></h4>
                </div>
                <progress id="XPPB" value="0" max="100"></progress>
            </div>
            <div id="settings_tools_btns">
                <img src="../static/icons/buttons_main/binder.png" title="View Collection" width="40" height="40" class="tools" id="binder">
                <img src="../static/icons/buttons_main/color_key.png" title="View Color Key" width="40" height="40" class="tools" id="colors">
                <img src="../static/icons/buttons_main/shop.png" title="View Shop" width="40" height="40" class="tools" id="shopBtn">
            </div>
        </div>
        <img id="openCratesBtn" src="../static/icons/buttons_main/crate.png" width="30" height="30" title="Pog Crates">
        <div id="cratesCont" style="display: none">
            <div id="crateBtns">
                <h4>Pog Crates</h4>
                <div class="buttonSources">
                    <div class="tooltip-chances">
                        <button id="info1" class="infobtn">i</button>
                        <span id="spani1" class="tooltip-text">
                            Trash: 59%<br>
                            Common: 20%<br>
                            Uncommon: 15%<br>
                            Rare: 0%<br>
                            Mythic: 6%<br>
                        </span>
                    </div>
                    <button id="crate1" class="crate">Common Crate - $100</button>
                    <div class="buymCont">
                        <button id="crate1_b5" class="buym">+5</button>
                        <button id="crate1_b10" class="buym">+10</button>
                    </div>
                </div>
                <div class="buttonSources">
                    <div class="tooltip-chances">
                        <button id="info2" class="infobtn">i</button>
                        <span id="spani2" class="tooltip-text">
                            Trash: 0%<br>
                            Common: 60%<br>
                            Uncommon: 16%<br>
                            Rare: 13%<br>
                            Mythic: 11%<br>
                        </span>
                    </div>
                    <button id="crate2" class="crate">Rare Crate - $500</button>
                    <div class="buymCont">
                        <button id="crate2_b5" class="buym">+5</button>
                        <button id="crate2_b10" class="buym">+10</button>
                    </div>
                </div>
                <div class="buttonSources">
                    <div class="tooltip-chances">
                        <button id="info3" class="infobtn">i</button>
                        <span id="spani3" class="tooltip-text">
                            Trash: 0%<br>
                            Common: 40%<br>
                            Uncommon: 27%<br>
                            Rare: 21%<br>
                            Mythic: 12%<br>
                        </span>
                    </div>
                    <button id="crate3" class="crate">Epic Crate - $1000</button>
                    <div class="buymCont">
                        <button id="crate3_b5" class="buym">+5</button>
                        <button id="crate3_b10" class="buym">+10</button>
                    </div>
                </div>
                <div class="buttonSources">
                    <div class="tooltip-chances">
                        <button id="info4" class="infobtn">i</button>
                        <span id="spani4" class="tooltip-text">
                            Trash: 0%<br>
                            Common: 50%<br>
                            Uncommon: 0%<br>
                            Rare: 50%<br>
                            Mythic: 0%<br>
                        </span>
                    </div>
                    <button id="crate4" class="crate">Legendary Crate - $5000</button>
                    <div class="buymCont">
                        <button id="crate4_b5" class="buym">+5</button>
                        <button id="crate4_b10" class="buym">+10</button>
                    </div>
                </div>
                <div class="buttonSources">
                    <div class="tooltip-chances">
                        <button id="info5" class="infobtn">i</button>
                        <span id="spani5" class="tooltip-text">
                            Trash: 0%<br>
                            Common: 40%<br>
                            Uncommon: 0%<br>
                            Rare: 0%<br>
                            Mythic: 60%<br>
                            Unique: 11%
                        </span>
                    </div>
                    <button id="crate5" class="crate">Mythical Crate - $7000</button>
                    <div class="buymCont">
                        <button id="crate5_b5" class="buym">+5</button>
                        <button id="crate5_b10" class="buym">+10</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="slider" style="position: flex"></div>
    <!-- Gacha Animation Overlay - ADD THIS IF MISSING -->
    <!-- Gacha Animation Overlay -->
    <div id="gachaOverlay"
        style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 9999; background: rgba(0, 0, 20, 1);">

        <button id="skipAnimation"
            style="display: none; position: absolute; top: 20px; right: 20px; background: rgba(255,255,255,0.2); color: white; border: 2px solid white; padding: 10px 15px; border-radius: 5px;">Skip
            ⏭️</button>

        <div id="shootingStarsContainer"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;"></div>

        <div id="clickToContinue"
            style="display: none; position: absolute; top: 80px; left: 50%; transform: translateX(-50%); color: gold; font-size: 24px; text-align: center; z-index: 10004;">
            <p>Click anywhere to continue...</p>
        </div>

        <div id="centerPogReveal"
            style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10003;">
        </div>

    </div>

</body>
<!--updateinventory.js and searchsort.js and viewDesc.js must always come first in the js lineup-->
<script src="../static/js/collectionJS/searchsort.js"></script>
<script src="../static/js/collectionJS/updateinventory.js"></script>
<!--crates, shop, combo, lightmode, sellitem, stuffWork next-->
<!--stuffWork tackles things like: 
    1. variable definition
    2. loose functions
    3. calling functions:
        i. locking items
        ii. number abbreviation
    stuffwork uses userData to define global parameters-->
<script src="../static/js/crates.js"></script>
<script src="../static/js/shop.js"></script>
<script src="../static/js/collectionJS/saving.js"></script>
<script src="../static/js/collectionJS/combo.js"></script>
<script src="../static/js/collectionJS/lightmode.js"></script>
<script src="../static/js/collectionJS/sellitem.js"></script>
<script src="../static/js/collectionJS/stuffWork.js"></script>
<!--as long as they aren't dependent on each other, there is no needed order-->
<script src="../static/js/collectionJS/levelup.js"></script>
<script src="../static/js/collectionJS/income.js"></script>
<script src="../static/js/collectionJS/merge.js"></script>
<script src="../static/js/collectionJS/viewDesc.js"></script>
<script src="../static/js/collectionJS/sellall.js"></script>
<script src="../static/js/collectionJS/crateopen.js"></script>
<script src="../static/js/collectionJS/shopint.js"></script>
<script src="../static/js/collectionJS/binderint.js"></script>
<script src="../static/js/collectionJS/wish.js"></script>
<script src="../static/js/collectionJS/pfp.js"></script>
<!--don't put anything here-->
<script src="../static/js/achievements.js"></script>
<!--tickupdate is last-->
<script src="../static/js/collectionJS/tickupdate.js"></script>
<!--save filter-->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const mySel = document.getElementById("selectSort");
        const storageKey = "defaultValue";

        // 1. Load saved value on page load
        const savedValue = localStorage.getItem(storageKey);
        if (savedValue) {
            mySel.value = savedValue;
        }

        // 2. Save value when the selection changes
        mySel.addEventListener("change", function () {
            localStorage.setItem(storageKey, this.value);
        });
    });
</script>

</html>