<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pog Crates -> Patch Notes</title>
    <link rel="stylesheet" href="../static/css/patch.css">
</head>
<body>
    <div id="patchBanner">
        <div class="leftstuff">
            <div style="display: none" id="userdata"><%= JSON.stringify(userdata) %></div>
            <h1 style="margin-left: 10px;">Patch Notes</h1>
            <h4 style="margin-top: -25px; color: white; margin-left: 20px;">User: <%= userdata.displayName %></h4>
            <div style="display: none" id="maxPogs"><%= JSON.stringify(maxPogs) %></div>
        </div>
            <div class="rightstuff">
            <a href="/collection" id="circleButton"> < </a>
        </div>
    </div>
    <div class="weeks">
        <h2>V 0.1.1 Week 8 🖼️</h2>
        <ul>
            <li>Added achievement icons</li>
            <li>Added a sell all button to sell all pogs in the inventory</li>
        </ul>
    </div>
    <div class="weeks">
        <h2>V 0.1.0 Week 7 💪</h2>
        <ul>
            <li>Created a leaderboard page</li>
            <li>Top 10 users will be added</li>
            <li>Now made the website public by creating an ip address</li>
            <li>Added more achievement functionality</li>
            <li>Improved formbar login</li>
            <li>Fixed an issue where the formbar wouldn't save a user due to localhost</li>
            <li>Added player info for each player in the leaderboard</li>
        </ul>
    </div>
    <div class="weeks">
        <h2>V 0.0.6 Week 6 📊</h2>
        <ul>
            <li>Improved css for items</li>
            <li>Made bronze and silver pog merge functions; they will also show as different colors</li>
            <li>Now shows how much each pog will sell for</li>
            <li>Added a search system</li>
            <li>Added a complex dropdown sorting system</li>
            <li>Improved sidebar css</li>
            <li>Added more achievement functionality</li>
            <li>Added an achievement notification for when an achievement is unlocked</li>
            <li>Rehashed the selling function to improve bug fixes</li>
        </ul>
    </div>
    <div class="weeks">
        <h2>V 0.0.5 Week 5 🪙</h2>
        <ul>
            <li>Added pogs to crates!</li>
            <li>Made every level give 5 inventory slots; every 5 levels gives you 10 slots</li>
            <li>Removed the rarity items from the draw pull</li>
            <li>Removed the Godly Crate: Mythical Crate is now the highest tier</li>
            <li>Added partial achievement implementation</li>
            <li>Fixed an issue where hidden achievements weren't rendering properly</li>
        </ul>
    </div>
    <div class="weeks">
        <h2>V 0.0.4 Week 4 🐞</h2>
        <ul>
            <li>Added first achievements!</li>
            <li>Added user data saves</li>
            <li>Removed the left bar and moved all crates to the right</li>
            <li>Added css improvements when the screen is small</li>
            <li>Fixed a bug where the XP wasn't displayed correctly</li>
            <li>Removed load and reset functionality</li>
            <li>Added user theme across pages</li>
            <li>Added digipogs database</li>
            <li>Added achivement functionality</li>
        </ul>
    </div>
    <div class="weeks">
        <h2>V 0.0.3 Week 3 🏆</h2>
        <ul>
            <li>Added a patch notes page!</li>
            <li>Added an achievements page (not working yet).</li>
            <li>Reformatted the main game to look less empty.</li>
            <li>Fixed inventory and side bar not scaling in height when the window size changed.</li>
            <li>Fixed some bugs with the income calculation.</li>
            <li>Changed your start value to make testing easier **-FOR NOW-**</li>
            <li>Changed a lot of the css as a whole.</li>
            <li>Saved user data on a database to make saving and loading easier (and leaderboard soon 🤑🤑🤑).</li>
        </ul>
    </div>
    <div class="weeks">
    <h2>V 0.0.2 Week 2 🤯</h2>
    <ul>
        <li>Added XP and Leveling system; each crate opened gives XP</li>
        <li>Gave patch logs a seperate page</li>
        <li>Moved the save, load, and reset button to the top right</li>
        <li>Starting hosting the game on formbar.js and node</li>
        <li>Removed the rarity sorting</li>
    </ul>
</div>
<div class="weeks">
    <h2>V 0.0.1 Week 1 ⚫</h2>
    <ul>
        <li>Added stack bonuses; 3+ of one rarity increases income of that rarity by 1.5x [indicated by a white glow outline]; 
            all items will round to the nearest whole number</li>
        <li>Added sorting system from least to most rare</li>
        <li>Added cards for each rarity, including income and sell value</li>
        <li>Added scrollbar for the inventory rather than the website page</li>
        <li>Removed JSONS of rarities and crates to eliminate unnecessary redundancy</li>
        <li>Removed the dropdown for deleting items in the inventory; now each card has its own sell button</li>
        <li>Removed page scrolling; all data is stored on the single screen</li>
        <li>Added a failsafe that if all items are sold, then money will equal 200</li>
        <li>Edited the names of the crates to match their higher rarity chances</li>
        <li>Added Github functionality for collaboration</li>
    </ul>
</div>
</body>
<script src="../static/js/patch.js"></script>
</html>